<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <style>
      body {
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .login-container {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
      }

      .login-container h2 {
        margin-bottom: 20px;
      }

      .login-form {
        display: flex;
        flex-direction: column;
      }

      .login-form label,
      .login-form input {
        margin-bottom: 10px;
      }

      .login-form input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .login-form button {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
